<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="nlog-internal.log">

	<targets>
		<target xsi:type="File" name="logfile"
                fileName="${basedir}/log/${date:format=yyyy'/'MM}/${date:format=yyyyMMdd}.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data}" />
	</targets>
	
	<target xsi:type="File" name="errorfile"
			fileName="D:/ErrorLogs/${date:format=yyyy'/'MM}/error_${date:format=yyyyMMdd}.txt"
			layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data}" />
	<rules>
		
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>